<% if (currentUser) { %>

    <a href="/user/<%=currentUser._id%>/edit"> Edit Profile </a>
    <a href="/logout"> Log Out </a>
    <br />

  <% } else { %>

    <a href="/signup"> Sign Up </a>
    <a href="/login"> Log In </a>

  <% } %>
