<div class="views-body">

  <h2> Code List </h2>

  <a href="/code/new"> Add a code </a>

  <ul>
    <% listOfCodes.forEach((oneCode) => { %>
      <li>
        <h3> Code Name: <%= oneCode.codeName %> </h3>

        <a href="/code/<%= oneCode._id %>"> Code Details </a>
        <br
      </li>
      <% }) %>
    </ul>

</div>
